/* Css without flex */
/*Header*/
.header{
    background-color: #1F2937;
}
.logo{
 font-size: 24px;
 color: #F9FAf8;
 font-weight: bold;
}

ul{
    
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}
a{  color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
/*section 1*/
.section-1{
    background-color: #1F2937;
}
.info1{
    font-size: 48px;
    color: #F9FAf8;
    font-weight: bolder;
}
.info2,.plhl{
    color: #e5e7eb;
    font-size: 18px;
}
.signup,.click{
    background-color: #3882f6;
    color: #F9FAf8;
    border: 0px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
}
.img{
    background-color: gray;
}
/*Section 2*/
.sc2top{
    font-size: 36px   ;
    font-weight: bolder;
    color:#1f2937 ;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}
.subtext{
    font-size: 15px;
    color: gray;
}
/*Section 3*/
.section-3{
    background-color: #e5e7eb;
}
.qoute{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.name{
    font-size: 20px;
    font-weight: bold;

}
/*section 4*/
.major{
    background-color: #3882f6;
    color: white;
}
.click{
    border: 2px solid white;
}
/*footer*/
.footer{
    background-color: #1f2937;
    color: white;
}
